@use "tailwindcss";
.home {
    .child {
        font-weight: bold;
        color: red;
        text-align: center;
        font-size: 2rem;
    }
}
.active {
    font-weight: bold;
    color: #080;
}
